/* body {
    background-color: azure;
    font-style:normal;
}
h1 {
    color: chocolate;
}


h2 {
    color: cornflowerblue;
}

a {
    color: black;
    text-decoration: none;

}

td {
    border: 2px solid black;
}


#istdiv {
    background-color: brown;
    color: yellow;
}

.ist{
    color: blue;
    background-color: blanchedalmond;


}


 #div2 {                                      /* id or class should not be started with a number  */
/* background-color: grey;
}

.div2 {
    color: lightseagreen;
}


 */ 
